<div class="d-flex align-items-center p-3 my-3 text-white-50 rounded shadow-sm" style="background-color: #FBE8A6;">
    <span style="font-size: 48px; color:#F4976C;">
      <i class="mr-3 fas fa-map-marker-alt"></i>
    </span>
    <div class="lh-100">
      <h6 class="mb-1 lh-100" style="color: #303C6C; font-weight: 800;">โมดูล</h6>
      <small style="color: #303C6C; font-weight: 800;">จัดการโมดูลระบบ</small>
    </div>
  </div>
  
  <button class="btn" style="background-color: #303C6C;">
    <span style="font-size: 16px; color:white;">
      <i class="mr-3 fas fa-plus-circle"></i> เพิ่มโมดูล
    </span>
  </button>
  
  <table class="table hover">
    <thead>
      <tr>
        <th>ชื่อโมดูล</th>
        <th style="width: 120px;">สถานะ</th>
        <th style="width: 120px;">#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.moduleName }}</td>
        <td>
            <i class="fas fa-eye" style="color: green;" *ngIf="item.is_enable === 'Y'"></i>
            <i class="fas fa-eye-slash" style="color: red;" *ngIf="item.is_enable === 'N'"></i>
        </td>
        <td>
          <div class="btn-group">
            <button class="btn btn-primary">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button class="btn btn-danger">
                <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
