<div class="container">
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">ผู้ใช้ระบบ</span>
  </nav>
  <div class="mat-elevation-z3">
    <br>
     <div class="row">
      <div class="col-sm-1"></div>
    <div class="col-sm-2">
      <button mat-raised-button (click)="openDialog()" class="btn btn-info">
        <mat-icon>add</mat-icon>เพิ่มข้อมูล
      </button>
    </div>
    <div class="col-sm-4">
      <input type="text" [(ngModel)]="searchKey" class="form-control" id="exampleInputPassword1" placeholder="ค้นหา"
        (keyup)="doFilter($event.target.value)">
    </div>
  </div>
    
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> ชื่อ </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> นามสกุล </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> E-Mail </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
        <mat-cell *matCellDef="let user">
          <button mat-icon-button color="accent" (click)="redirectToUpdate(user.personID)">
            <mat-icon class="mat-18">create</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let user">
          <button mat-icon-button color="warn" (click)="redirectToDelete(user.personID)">
            <mat-icon class="mat-18">remove_circle_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[1, 3, 5]"></mat-paginator>
  </div>
</div>
