<div class="d-flex align-items-center p-3 my-3 text-white-50 rounded shadow-sm" style="background-color: #FBE8A6;">
  <span style="font-size: 48px; color:#F4976C;">
    <i class="mr-3 fas fa-map-marker-alt"></i>
  </span>
  <mat-toolbar>
    <h6 class="mb-1 lh-100" style="color: #303C6C; font-weight: 800;">โมดูล</h6>
    <small style="color: #303C6C; font-weight: 800;">จัดการโมดูลระบบ</small>
  </mat-toolbar>
</div>
<br>

<table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>moduleID</th>
      <th>moduleName</th>
      <th>used</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of datas; let i = index">
      <td>{{ i+1 }}</td>
      <td>{{ data.moduleName }}</td>
      <td>{{ data.is_enable }}</td>
      <td><button mat-button (click)="openbox(mymodal)" class="btn btn-info edits"><mat-icon>create</mat-icon></button><button mat-button class="btn btn-danger del" (click)="doRemove(data)"><mat-icon>delete</mat-icon></button></td>
    </tr>
  </tbody>
  </table>
  
  <app-modal-module></app-modal-module>
 